.profile-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.4rem;
    font-family: Onest;

    .profile-container {
        display: flex;
        align-items: center;
        gap: 0.4rem;
        position: relative;
    }

    .avatar {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(74, 24, 173);
        border-radius: 50%;
        padding: 0.4rem;
        min-width: 32px;
        height: 32px;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: rgb(94, 44, 193);
        }

        h2 {
            font-size: 0.8rem;
            font-weight: 500;
            color: white;
        }
    }

    .username {
        display: flex;
        align-items: center;
        gap: 0.4rem;


        h1 {
            font-size: 0.8rem;
            font-weight: 400;
            color: #999;
            transition: color 0.3s ease;

            &:hover {
                color: #ccc;
            }
        }
    }

    .dropdown-menu {
        position: absolute;
        top: 100%;
        right: -4%;
        background-color: #111;
        border: 1px solid #333;
        border-radius: 8px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
        min-width: 200px;
        margin-top: 8px;
        z-index: 1000;
        overflow: hidden;

        .dropdown-item {
            padding: 12px 16px;
            display: flex;
            align-items: center;
            gap: 0.4rem;
            border: none;
            background: none;
            width: 100%;
            text-align: left;
            cursor: pointer;
            transition: background-color 0.2s ease;
            font-family: Onest;

            &:hover {
                background-color: rgb(94, 44, 193);
            }

            &.user-info {
                border-bottom: 1px solid #333;
                cursor: default;

                &:hover {
                    background-color: #222;
                }

                .email {
                    margin: 0;
                    font-size: 0.75rem;
                    color: #9e9d9d;
                    word-break: break-all;
                }
            }

            &.logout-btn {
                h1 {
                    color: #d32f2f;
                    font-weight: 500;
                    font-size: 0.85rem;
                }

                &:hover {
                    background-color: #222;
                }
            }
        }
    }
}